node_modules/
dist/
coverage/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# executables allowed in public/downloads
!public/downloads/*.exe
!public/downloads/*.zip


dist/
